<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DNAFactory\Scss\Api\AssetProcessorFilesystemManagementInterface" type="DNAFactory\Scss\Helper\AssetProcessorFilesystemManagement" />
    <virtualType name="AlternativeSourceProcessors">
        <arguments>
            <argument name="alternatives" xsi:type="array">
                <item name="scss" xsi:type="array">
                    <item name="class" xsi:type="string">DNAFactory\Scss\PreProcessor\Adapter\Scss\Processor</item>
                </item>
                <item name="less" xsi:type="array">
                    <item name="after" xsi:type="string">scss</item>
                    <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Adapter\Less\Processor</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PreProcessorInstructionImportForScssFlow" type="DNAFactory\Scss\PreProcessor\Instruction\Import">
        <arguments>
            <argument name="relatedFileGenerator" xsi:type="object">FileGeneratorPublicationDecoratorForBaseFlow</argument>
        </arguments>
    </virtualType>
    <!-- @api -->
    <virtualType name="AssetPreProcessorPool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="scss" xsi:type="array">
                    <item name="theme_import" xsi:type="array">
                        <item name="class" xsi:type="string">DNAFactory\Scss\Model\View\Asset\PreProcessor\VarsImport</item>
                    </item>
                    <item name="magento_import" xsi:type="array">
                        <item name="after" xsi:type="string">theme_import</item>
                        <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Instruction\MagentoImport</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="after" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">PreProcessorInstructionImportForScssFlow</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AssetPreProcessorPoolForSourceThemeDeploy">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="scss" xsi:type="array">
                    <item name="theme_import" xsi:type="array">
                        <item name="class" xsi:type="string">DNAFactory\Scss\Model\View\Asset\PreProcessor\VarsImport</item>
                    </item>
                    <item name="magento_import" xsi:type="array">
                        <item name="after" xsi:type="string">theme_import</item>
                        <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Instruction\MagentoImport</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="after" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">PreProcessorInstructionImportForScssFlow</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Developer\Model\View\Page\Config\RendererFactory">
        <arguments>
            <argument name="rendererTypes" xsi:type="array">
                <item name="client_side_compilation" xsi:type="string">DNAFactory\Scss\Model\View\Page\Config\ClientSideScssCompilation\Renderer</item>
            </argument>
        </arguments>
    </type>
</config>
